In [104]:
import pickle
import pandas as pd

with open('doc_returns.pkl', 'rb') as f:
    doc_returns = pickle.load(f)
doc_returns.set_index('document_mf_id', inplace=True)
doc_returns.head()
doc_returns['avg_return'] = doc_returns['avg_return'].astype(float)

In [105]:
with open('../sentiment_analysis/topic_sentiment_analysis.pkl', 'rb') as f:
    topic_sentiment_analysis = pickle.load(f)
topic_sentiment_analysis.dropna(inplace=True, how='all')
topic_sentiment_analysis.head()

,123779,123730,123731,123678,123676,123677,123615,123483,123280,123281,...,66920,84387,45581,83759,69773,100780,43397,86265,100779,98672
topic,,,,,,,,,,,,,,,,,,,,,
credit,NaN,0.178673,-0.001035,NaN,NaN,NaN,0.283389,0.033357,0.498359,0.289802,...,-0.498845,NaN,NaN,0.249558,-0.026119,NaN,NaN,NaN,NaN,NaN
dealing terms,NaN,-0.005857,0.214961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000111,0.000326,NaN,-0.000041,0.001717,0.000390,0.009697,0.001717,-0.164886
fees,0.097609,0.166250,0.000069,NaN,0.000074,NaN,0.000029,0.001532,0.000131,0.000115,...,0.495658,0.000237,0.038349,NaN,0.046134,0.000257,0.000098,NaN,0.000257,0.996133
investment approach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.934497,NaN,NaN,NaN,0.338085,NaN,NaN,NaN,NaN,NaN
market,-0.142190,-0.001087,0.000067,NaN,0.000006,NaN,0.047601,-0.230250,0.123491,0.214307,...,0.201671,NaN,-0.048678,-0.123748,0.041713,0.000032,-0.497505,NaN,0.000032,0.283777

In [106]:
results = pd.merge(doc_returns, topic_sentiment_analysis.T, left_index=True, right_index=True, how='inner')
results.head()

,avg_return,credit,dealing terms,fees,investment approach,market,organization,performance,portfolio,stress,team
123779,1.692367,NaN,NaN,0.097609,NaN,-0.142190,NaN,-0.017482,0.273391,NaN,0.000031
123731,4.677267,-0.001035,0.214961,0.000069,NaN,0.000067,NaN,0.080113,0.246493,NaN,0.000324
123678,2.908633,NaN,NaN,NaN,NaN,NaN,-0.000028,NaN,NaN,NaN,NaN
123676,1.636867,NaN,NaN,0.000074,NaN,0.000006,NaN,-0.083941,-0.103765,NaN,0.002166
123677,3.053700,NaN,NaN,NaN,NaN,NaN,-0.000028,NaN,NaN,NaN,NaN

In [140]:
from scipy.stats import pearsonr

# results.corr()
corr = pd.DataFrame(columns=['p', 'r'])
for col in results.columns:
    if col != 'avg_return':
        factor = results[results[col] > 0]
        print(f'Factor: {col}, N: {len(factor)}')
        p,r = pearsonr(factor['avg_return'], factor[col])
        corr.loc[col] = [p, r]
corr

Factor: credit, N: 197
Factor: dealing terms, N: 202
Factor: fees, N: 307
Factor: investment approach, N: 86
Factor: market, N: 286
Factor: organization, N: 167
Factor: performance, N: 326
Factor: portfolio, N: 361
Factor: stress, N: 35
Factor: team, N: 339

                            p         r
credit               0.046249  0.518697
dealing terms        0.038660  0.584894
fees                 0.030663  0.592514
investment approach -0.137201  0.207779
market              -0.017470  0.768620
organization        -0.054381  0.485182
performance          0.009642  0.862323
portfolio           -0.060649  0.250390
stress               0.231624  0.180625
team                 0.049210  0.366390